<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <!--在调用sql后将数据库自动产生的菜品id, dishId进行获取, 使用useGeneratedKeys属性表示获得插入语句运行后所生成的自增主键值, keyProperty属性表示将主键值赋值给实体属性id-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, image, description, status, create_time, update_time, create_user, update_user) values
        (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*, c.name as categoryName from dish d left outer join category c on d.category_id = c.id
        <where><!--通过where标签动态将相关的查询语句进行拼接-->
            <if test="name != null">
                and d.name like concat('%',#{name},'%')<!--名称的相关查询一般情况下使用like模糊查询进行查询, 如果是直接使用=进行精准匹配也是可以-->
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>
</mapper>
